{
	"timesheet": {
		"username": "<timesheet-user-name>",
		"password": "timesheet-password"
	},
	"git": {
		"url": "https://api.github.com/repos/:<author>/:<repo>/commits",
		"username": "<github-username>",
		"password": "<github-password>",
		"commitAuthorEmail": "<email-of-the-committer-to-filter>"
	}
}
